<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{% block title %}Blog Posts{% endblock %}</title>

<!-- Bootstrap -->
<link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css'>


<!-- local -->
{% load static %}
<link rel='icon' type='icon/png' href='{% static "me/icons/favicon_vernon.ico" %}'>
<link rel='stylesheet' href='{% static "blog/css/style.css" %}'>
{% block custom_css %}{% endblock %}

</head>
<body>

<!-- Section Header | links, name, summary -->
<section id='header' class='section header container-fluid'>
	{% block header %}{% endblock %}
	{% block header_nav %}{% endblock %}
</section>

<!-- Section Content -->
<section id='content' class='section content container-fluid'>
	{% block content %}{% endblock %}
</section>

<!-- Footer | Copyright, tech for site, links -->
<section class='section footer container-fluid'>
<hr>
<p class='centered small'>I made this website with
<a href='https://httpd.apache.org/'>Apache</a>,
<a href='https://getbootstrap.com/'>Bootstrap</a>,
and <a href='https://www.djangoproject.com/'>Django</a>
| 
It's hosted at 
<a href='https://www.linode.com/'>Linode</a>
</p>

<p class='centered copyright'>Vernon Swanepoel &copy; {{ year }}
|
Connect with me on
<a href="https://twitter.com/sandcurves">Twitter</a>
|
<a href="https://github.com/Namibnat">Github</a>
|
<a href="me/pdfs/CV-Vernon-Swanepoel.pdf">My CV</a>
</p>

</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% load static %}
<script src='{% static "blog/scripts/index.js" %}'></script>
{% block custom_javascript %}{% endblock %}

</body>
</html>
